# Ignore virtual environment
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore environment variables file
.env

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
htmlcov/
.coverage
.cache

# Ignore build artifacts
build/
dist/
*.egg-info/
